@use "global" as *;

.scrolldown {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    left: 13%;
    bottom: 0%;
    height: 64px;
    z-index: 100;
    @include mq(md) {
        left: 10%;
        bottom: 10%;
        height: rem(94);
    }
}

/*Scrollテキストの描写*/
.scrolldown span {
    /*描画位置*/
    position: absolute;
    font-size: rem(10);
    letter-spacing: 0.1em;
    left: 38px;
    bottom: 57px;
    @include mq(md) {
        left: rem(16);
        bottom: rem(10);
        /*縦書き設定*/
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        
    }
}

/* 線の描写 */
.scrolldown span::before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: rem(-43);
    /*丸の形状*/
    width: rem(10);
    height: rem(10);
    border-radius: 50%;
    background: $black;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
    animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
    @include mq(md) {
        left: rem(-20);
    }
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -40px;
    }
}
@include mq(md) {
    @keyframes circlemove {
        0% {
            bottom: 90px;
        }
        100% {
            bottom: -5px;
        }
    }
}

/* 円の描写 */
.scrolldown:before {
    content: "";
    position: absolute;
    top: rem(-25);
    left: rem(-21);
    width: 45px;
    height: 45px;
    /*マウスの形状*/
    border-radius: 50px;
    border: 1px solid $black;
    @include mq(md) {
        left: rem(-23);
        /*描画位置*/
        width: rem(50);
        height: rem(50);
    }
  }

/* 線の描写 */
.scrolldown:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: 0;
    /*線の形状*/
    width: 1px;
    height: 65px;
    background: $black;
    @include mq(md) {
        height: rem(94);
    }
}
